services:
  db:
    image: postgres:15
    container_name: expense-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rihan4
      POSTGRES_DB: expense_tracker
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./Backend
    container_name: expense-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      PG_USER: postgres
      PG_HOST: db
      PG_DATABASE: expense_tracker
      PG_PASSWORD: rihan4
      PG_PORT: 5432
      PORT: 5000
    depends_on:
      - db

  frontend:
    build:
      context: ./Frontend
    container_name: expense-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata:
